-
    var i18n = {
        de: {
            path_prefix: '',
            meta: {
                description: 'Willkommen bei Andrey Glazshneyder und Anna Bielova!',
            },
            nav: {
                toggle_menu: 'Menü umschalten',
                contact: 'Kontakt',
                scroll_to_top: 'Scrolle nach oben',
            },
            home: {
                andrey: {
                    heading: 'Andrey Glazshneyder',
                    about_1:
                            'Andrey Igorevich Glazshneyder, geboren am 26. Oktober 1966 in Budapest, ist eine herausragende Persönlichkeit des inter&shy;na&shy;tio&shy;nalen Balletts und wird in der Enzyklopädie des russischen Balletts aufgeführt. Seine formative Ausbildung erhielt er an der Mos&shy;kau&shy;er Staat&shy;li&shy;chen Aka&shy;de&shy;mie für Cho&shy;reo&shy;gra&shy;phie (Bolshoi Ballet Academy) von 1980 bis 1986, unter der Anleitung von A.I. Bondarenko. Nach seinem Abschluss wurde er 1986 Mitglied des renommierten Stanislavski und Nemirovich-Danchenko Theaters in Moskau, wo er sowohl Solo- als auch Hauptrollen tanzte.',
                    about_2:
                            'Glazshneyder mach&shy;te sich beson&shy;ders als erster Inter&shy;pret der Rolle des Mercutio in V.V. Vasilievs Inszenierung im Jahr 1990 einen Namen. Sein Reper&shy;toire umfasst eine beeindruckende Liste von Rollen in klassischen Ballett&shy;stücken wie Basil in "Don Quixote", Birbanto in "Le Corsaire", James in "La Sylphide", Figaro in "Bravo Figaro", Albert in "Giselle", Sieg&shy;fried in "Schwanen&shy;see", als Prinz in "Der Nuss&shy;knacker" und "Aschen&shy;puttel", Prinz Désiré in "Dorn&shy;röschen", sowie als Narr in "Schwanen&shy;see" und Bacchus in "Wal&shy;pur&shy;gis&shy;nacht".',
                    about_3:
                            'Als Gast&shy;solist trat er im Theater "Ballett Moskau" auf und wurde als Preis&shy;träger bei inter&shy;natio&shy;nalen Wett&shy;bewerben geehrt.',
                    about_4:
                            'Glaz&shy;shneyder arbei&shy;tete mit eini&shy;gen der größten Namen des Balletts zusammen, darunter V.V. Vasiliev, M.L. Rostro&shy;povich, D.A. Bryan&shy;tsev, L.I. Semenyako, Anna Plisetskaya, Natalya Le&shy;dov&shy;skaya, Margarita Drozdova und Galina Kropivina. Seine Karriere führte ihn auf Tourneen durch Japan, die USA, Südamerika, Europa und China, wo er sein Publikum mit seiner Kunst begeisterte.',
                    about_5:
                            'Von 2000 bis 2004 war er führender Solist am Lwiw Na&shy;tio&shy;nal Opera and Ballet Theater Kru&shy;shel&shy;nytska und enga&shy;gierte sich gleich&shy;zeitig in der Ausbildung junger Talente. Seine päda&shy;gogi&shy;sche Laufbahn setzte er von 2004 bis 2008 an der Natio&shy;nalen Aka&shy;demie der Künste in Lwiw und von 2008 bis 2022 am Kiewer Choreo&shy;grafi&shy;schen College "Kiyanochka" sowie am  Dynamo Ballet fort, wo er seine umfang&shy;reiche Er&shy;fahrung und sein Wissen an die nächste Ge&shy;ne&shy;ra&shy;tion von Ballett&shy;tänzern weiter&shy;gab, um sie auf den Hoch&shy;schule&shy;intritt in ver&shy;schie&shy;de&shy;nen Ländern der Welt vor&shy;zu&shy;be&shy;rei&shy;ten.',
                    performances: 'Videoausschnitte von Andrey Glazshneyders Auftritten und Lehrtätigkeit'
                },
                anna: {
                    heading: 'Anna Bielova',
                    about_1:
                            'Anna Dmitrievna Bielova, geboren am 10. November 1991 in der Ukraine, absolvierte ihre Ballettausbildung an der renommierten choreografischen Hochschule "Kiya&shy;noch&shy;ka", wo sie von 2009 bis 2013 studierte.',
                    about_2:
                            'Nach ihrem Abschluss ging Bielova auf Ein&shy;la&shy;dung der Nation&shy;aloper der Ukraine mit dieser auf Tournee. Ihre Fähig&shy;keiten und ihr Engage&shy;ment führten sie 2014 zum Kiewer Modern Ballet unter der Leitung von Radu Pokli&shy;taru, wo sie bis 2016 blieb und ihre Fähig&shy;keiten im zeit&shy;genös&shy;si&shy;schen Ballett wei&shy;ter&shy;ent&shy;wickelte.',
                    about_3:
                            'Ihre Karriere führ&shy;te sie wei&shy;ter zum Ballett En&shy;sable des In&shy;ter&shy;na&shy;tio&shy;nal Ballet Moscow, mit dem sie von 2016 bis 2018 auf Tour ging. Diese Er&shy;fah&shy;rung er&shy;wei&shy;ter&shy;te ihr Re&shy;per&shy;toire und ihre in&shy;ter&shy;na&shy;tio&shy;na&shy;le Prä&shy;senz.',
                    about_4:
                            'Von 2018 bis 2020 war Bielova Teil des St. Peters&shy;burger Balletts, Ballett an der Newa und des Klassi&shy;schen Balletts Moskau, wo sie ihre klassi&shy;schen Ballett&shy;fäh&shy;ig&shy;kei&shy;ten ver&shy;fei&shy;nerte.',
                    about_5:
                            'Von 2020 bis 2021 schloss sie sich dem Inter&shy;natio&shy;nal Classical Ballet Kyiv und dem Magical Ballet in den USA an. Ihre inter&shy;natio&shy;nalen Tourne&shy;en führten Bielova durch die USA, Süd&shy;ame&shy;ri&shy;ka, Europa, Taiwan, Malaysia, Aus&shy;tra&shy;lien und China.',
                    about_6:
                            'Neben der Bühnen&shy;karriere widmet sich Bielova auch der Lehr&shy;tä&shy;tig&shy;keit. Von 2020 bis 2022 war sie Leh&shy;rer&shy;in an der Dynamo Ballett&shy;schule in Kiew, wo sie ihr Wissen und ihre Erfah&shy;rung an junge Tänzer&shy;innen und Tänzer weiter&shy;gab.',
                    about_7:
                            'Ihre Arbeit als Cho&shy;reo&shy;gra&shy;fin, ins&shy;be&shy;son&shy;de&shy;re bei der Vor&shy;be&shy;rei&shy;tung von Kin&shy;dern und Künst&shy;lern auf in&shy;ter&shy;na&shy;tio&shy;na&shy;le Wett&shy;be&shy;wer&shy;be, hat zahl&shy;rei&shy;che Ta&shy;len&shy;te ge&shy;för&shy;dert und ins&shy;pi&shy;riert.',
                },
                impressions: 'Impressionen',
                contact: {
                    heading: 'Kontakt',
                    leave_me_a_note: 'Kontaktieren Sie uns gerne per Email',
                },
            },
            footer: {
                imprint: 'Impressum',
                privacy_policy: 'Datenschutzerklärung',
                copyright_notice: '© 2024 Andrey Glazshneyder & Anna Bielova – Alle Rechte vorbehalten',
            },
            imprint: {
                heading: 'Impressum',
                responsible_for_content: 'Verantwortlich für den Inhalt',
                disclaimer: 'Disclaimer',
                content: {
                    heading: 'Haftung für Inhalte',
                    text: 'Die Inhalte meiner Seite wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte kann ich als Webseitenbetreiberin jedoch keine Gewähr übernehmen. Als Diensteanbieter bin ich gemäß § 7 Abs.1 TMG für eigene Inhalte nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG bin ich als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werde ich diese Inhalte umgehend entfernen.',
                },
                referrals_and_links: {
                    heading: 'Haftung für Links',
                    text: 'Mein Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte ich keinen Einfluss habe. Deshalb kann ich für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werde ich derartige Links umgehend entfernen.',
                },
                copyright: {
                    heading: 'Urheberrecht',
                    text: 'Die durch mich erstellten Inhalte und Werke auf dieser Seite inklusive aller Unterseiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitte ich um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werde ich derartige Inhalte umgehend entfernen.',
                },
            },
            privacy_policy: {
                heading: 'Datenschutzerklärung',
                intro:
                        'Mit dieser Datenschutzerklärung möchten ich Sie über Art, Umfang und Zweck der Verarbeitung von personenbezogenen Daten auf meiner Webseite aufklären. Personenbezogene Daten sind alle Daten, die einen persönlichen Bezug zu Ihnen aufweisen, z. B. Name, Adresse, E-Mail-Adresse oder Nutzerverhalten.',
                responsible_for_data_processing:
                        'Verantwortlich für die Datenverarbeitung',
                webhosting: {
                    heading: 'Webhosting',
                    provider_intro:
                            'Ich bediene mich zum Vorhalten meiner Onlinepräsenz eines Internet-Service-Providers, auf dessen Server meine Webseite gespeichert wird (Hosting) und der die Seite im Internet verfügbar macht. Hierbei verarbeitet der Internet-Service-Provider in meinem Auftrag Kontaktdaten, Inhaltsdaten, Vertragsdaten, Nutzungsdaten, Bestandsdaten sowie Meta- und Kommunikationsdaten. Name und Anschrift des Internet-Service-Providers:',
                    provider_privacy_policy:
                            'Dessen Datenschutzbestimmungen können Sie <a href="https://docs.github.com/en/github/site-policy/github-privacy-statement">hier</a> einsehen.',
                    provider_outro:
                            'Der Internetservice-Provider hat seinen Sitz innerhalb der EU. Er ist unter dem Privacy-Shield-Abkommen zertifiziert und bietet hierdurch eine Garantie, das europäische Daten&shy;schutz&shy;recht einzu&shy;hal&shy;ten.<br><b>Rechtsgrundlage</b>: Der Internet-Service-Provider verarbeitet die vorgenannten Daten in meinem Auftrag, Art. 28 DSGVO. Die Datenverarbeitung erfolgt aufgrund meines berechtigten Interesses an einer effizienten und sicheren Bereitstellung meines Internetangebotes, Art. 6 Abs. 1 lit. f) DSGVO.',
                },
                storage: {
                    heading: 'Speicherdauer/Löschung',
                    text: 'Ich lösche oder sperre Ihre personenbezogenen Daten, sobald der Zweck der Speicherung erreicht ist oder entfällt. Eine darüberhinausgehende Speicherung erfolgt nur, wenn mir dies durch nationale oder europäische Vorschriften aufgegeben wird. Eine Sperrung oder Löschung der Daten erfolgt in diesem Fall dann, wenn die in den jeweiligen Vorschriften vorgeschriebene Speicherfrist abgelaufen ist, es sei denn ich benötige Ihre Daten zur Erfüllung eines zwischen uns geschlossenen Vertrages oder wenn dies zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen erforderlich ist.',
                },
                contact_options: {
                    heading:
                            'Angaben zu den von mir angebotenen Kontaktaufnahmemöglichkeiten',
                    text: 'Soweit Sie mich über E-Mail, soziale Medien, Telefon, Fax, Post, Kontaktformular oder sonstwie ansprechen und mir hierbei personenbezogene Daten wie Ihren Namen, Ihre Telefonnummer oder Ihre E-Mail-Adresse zur Verfügung stellen oder weitere Angaben zu Ihrer Person oder Ihrem Anliegen machen, werden diese Daten zur Verarbeitung Ihrer Anfrage gespeichert und weiterverarbeitet.<br><b>Rechtsgrundlage</b>: Sofern Sie Ihre Anfrage im Rahmen vertraglicher oder vorvertraglicher Beziehungen mit mir stellen, ist die Rechtsgrundlage für die Verarbeitung Ihrer Daten Art. 6 Abs. 1 lit. b. DSGVO. Sofern Ihre Anfrage nicht unter eine der vorgenannten Kategorien fällt, liegt mein berechtigtes Interesse an der Verarbeitung Ihrer Daten darin, Ihre Anfrage ordnungsgemäß und in Ihrem Sinne zu beantworten, Art. 6 Abs. 1 lit. f DSGVO.<br><b>Löschung</b>: Die von mir erhobenen personenbezogenen Daten werden gelöscht, sofern sie nicht mehr erforderlich sind. Ich überprüfe die Erforderlichkeit alle 2 Jahre. Außerdem können Sie die Datenverarbeitung jederzeit widerrufen.',
                },
                gdpr: {
                    heading: 'Ihre Rechte nach der DSGVO',
                    intro:
                            'Nach der DSGVO stehen Ihnen die nachfolgend aufgeführten Rechte zu, die Sie jederzeit bei mir geltend machen können:',
                    rights: [
                        {
                            heading: 'Recht auf Auskunft',
                            text: 'Sie können nach Art. 15 DSGVO eine Bestätigung darüber verlangen, ob und welche personenbezogenen Daten ich von Ihnen verarbeite. Darüber hinaus können Sie von mir unentgeltlich Auskunft über die Verarbeitungszwecke, die Kategorie der personenbezogenen Daten, die Kategorien von Empfängern, gegenüber denen Ihre Daten offengelegt wurden oder werden, die geplante Speicherdauer, das Bestehen eines Rechts auf Berichtigung, Löschung, Einschränkung der Verarbeitung oder Widerspruch, das Bestehen eines Beschwerderechts sowie die Herkunft ihrer Daten, sofern diese nicht bei mir erhoben wurden, verlangen. Ferner steht Ihnen ein Auskunftsrecht darüber zu, ob Ihre personenbezogenen Daten an ein Drittland oder an eine internationale Organisation übermittelt wurden. Sofern dies der Fall ist, steht Ihnen das Recht zu, Auskunft über die geeigneten Garantien im Zusammenhang mit der Übermittlung zu erhalten.',
                        },
                        {
                            heading: 'Recht auf Berichtigung',
                            text: 'Gemäß Art. 16 DSGVO können Sie verlangen, die bei mir gespeicherten und Sie betreffenden personenbezogenen Daten zu berichtigen oder zu vervollständigen.',
                        },
                        {
                            heading: 'Recht auf Löschung',
                            text: 'Gemäß Art. 17 DSGVO steht Ihnen das Recht zu, die Löschung Ihrer bei mir gespeicherten personenbezogenen Daten zu verlangen, soweit ich deren Verarbeitung nicht zu folgenden Zwecken benötige:',
                            sub_list: [
                                'zur Erfüllung einer rechtlichen Verpflichtung,',
                                'zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen,',
                                'zur Ausübung des Rechts auf freie Meinungsäußerung und Information oder',
                                'aus Gründen der in Art. 17 Abs. 3 lit c und d DSGVO genannten Fälle des öffentlichen Interesses.',
                            ],
                        },
                        {
                            heading: 'Recht auf Einschränkung',
                            text: 'Gemäß Art. 18 DSGVO haben Sie das Recht, die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen, wenn',
                            sub_list: [
                                'die Richtigkeit der Daten von Ihnen bestritten wird, und zwar für eine Dauer, die es mir ermöglicht, die Richtigkeit der personenbezogenen Daten zu überprüfen,',
                                'die Verarbeitung Ihrer Daten unrechtmäßig ist, Sie aber deren Löschung ablehnen und stattdessen die Einschränkung der Nutzung der Daten verlangen,',
                                'ich die personenbezogenen Daten für die Zwecke der Verarbeitung nicht länger benötige, Sie die Daten jedoch zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen benötigen,',
                                'Sie gemäß Art. 21 DSGVO Widerspruch gegen die Verarbeitung Ihrer Daten eingelegt haben, es aber noch nicht feststeht, ob die berechtigten Gründe, die mich trotz Ihres Widerspruches zu einer weiteren Verarbeitung berechtigten, Ihre Rechte überwiegen.',
                            ],
                        },
                        {
                            heading: 'Recht auf Unterrichtung',
                            text: 'Sofern Sie das Recht auf Berichtigung, Löschung oder Einschränkung der Verarbeitung gegenüber mir geltend gemacht haben, bin ich verpflichtet, allen Empfängern, denen gegenüber die Sie betreffenden personenbezogene Daten offengelegt wurden, die von Ihnen verlangte Berichtigung oder Löschung der Daten oder deren Einschränkung der Verarbeitung mitzuteilen, es sei denn, dies erweist sich als unmöglich oder ist mit einem unverhältnismäßigen Aufwand verbunden. Ihnen steht das Recht zu, von mir über diese Empfänger unterrichtet zu werden.',
                        },
                        {
                            heading: 'Recht auf Datenübertragbarkeit',
                            text: 'Gemäß Art. 20 DSGVO können Sie verlangen, dass ich Ihnen die Sie betreffenden personenbezogenen Daten, die Sie mir bereitgestellt haben, in einem strukturierten, gängigen und maschinenlesbaren Format zu Verfügung stelle, oder die Übermittlung an einen anderen Verantwortlichen zu verlangen.',
                        },
                        {
                            heading: 'Beschwerderecht',
                            text: 'Nach Art. 77 DSGVO haben Sie das Recht, sich bei einer Aufsichtsbehörde zu beschweren. Hierfür können Sie sich an die Aufsichtsbehörde Ihres üblichen Aufenthaltsortes, Ihres Arbeitsplatzes oder meines Wohnsitzes wenden.',
                        },
                    ],
                },
                withdrawl: {
                    heading: 'Widerrufsrecht',
                    text: 'Gemäß Art. 7 Abs. 3 DSGVO steht Ihnen das Recht zu, Ihre erteilte Einwilligung in die Verarbeitung Ihrer Daten jederzeit mir gegenüber zu widerrufen. Der von Ihnen erklärte Widerruf ändert nichts an der Rechtmäßigkeit der bis zum Widerruf erfolgten Verarbeitung Ihrer personenbezogenen Daten.<br><br><b>Unabhängig vom vorstehend Gesagten, haben Sie das jederzeitige Recht, der Verarbeitung Ihrer personenbezogenen Daten für Zwecke der Werbung und Datenanalyse zu widersprechen.</b><br><br>Ihren Widerspruch richten Sie bitte an meine oben angegebene Kontaktadresse.',
                },
                safety_measures: {
                    heading: 'Sicherheitsmaßnahmen',
                    text: 'Ich treffe im Übrigen technische und organisa&shy;torische Sicherheits&shy;maßnahmen nach dem Stand der Technik, um die Vorschriften der Datenschutzgesetze einzuhalten und Ihre Daten gegen zufällige oder vorsätzliche Manipulationen, teilweisen oder vollständigen Verlust, Zerstörung oder gegen den unbefugten Zugriff Dritter zu schützen.',
                },
                valid_until: {
                    title: 'Aktualität und Änderung dieser Datenschutzerklärung',
                    text: 'Diese Datenschutzerklärung ist aktuell gültig und hat den Stand August 2018. Aufgrund geänderter gesetzlicher bzw. behördlicher Vorgaben kann es notwendig werden, diese Datenschutzerklärung anzupassen.',
                },
                created_with: {
                    this_privacy_policy:
                            'Diese Datenschutzerklärung wurde erstellt mit Hilfe von',
                    here: 'Den Datenschutz-Erklärungsgenerator finden Sie hier',
                    is_an_offer_of: 'ist ein Angebot von',
                    based_in: 'mit Sitz in Berlin',
                },
            },
        },
        en: {
            path_prefix: 'en/',
            meta: {
                description: 'Welcome to Andrey Glazshneyder und Anna Bielova!',
            },
            nav: {
                toggle_menu: 'Toggle menu',
                contact: 'Contact',
                scroll_to_top: 'Scroll to top',
            },
            home: {
                andrey: {
                    heading: 'Andrey Glazshneyder',
                    about_1:
                            'Andrey Igorevich Glazshneyder, born on Oc&shy;to&shy;ber 26, 1966, in Budapest, is a promi&shy;nent fi&shy;gure in inter&shy;natio&shy;nal ballet and is lis&shy;ted in the ency&shy;clo&shy;pedia of Russian ballet. He re&shy;ceived his for&shy;mative edu&shy;cation at the Moscow State Aca&shy;demy of Cho&shy;reo&shy;gra&shy;phy (Bol&shy;shoi Bal&shy;let Aca&shy;de&shy;my) from 1980 to 1986, under the gui&shy;dance of A.I. Bon&shy;da&shy;ren&shy;ko. After gra&shy;du&shy;ating, he joined the pre&shy;sti&shy;gious Sta&shy;ni&shy;slav&shy;ski and Ne&shy;mi&shy;ro&shy;vich-Dan&shy;chen&shy;ko Thea&shy;ter in Mos&shy;cow in 1986, where he danced both solo and lea&shy;ding roles.',
                    about_2:
                            'Glazshneyder par&shy;ti&shy;cu&shy;lar&shy;ly made a name for him&shy;self as the first inter&shy;pre&shy;ter of the role of Mer&shy;cu&shy;tio in V.V. Va&shy;siliev\'s pro&shy;duc&shy;tion in 1990. His re&shy;per&shy;toire in&shy;cludes an im&shy;pressive list of roles in classic ballet pieces such as Basil in "Don Qui&shy;xote," Bir&shy;banto in "Le Cor&shy;saire," James in "La Syl&shy;phide," Fi&shy;ga&shy;ro in "Bra&shy;vo Fi&shy;ga&shy;ro," Al&shy;bert in "Gi&shy;sel&shy;le," Sie&shy;gfried in "Swan Lake," as the Prince in "The Nut&shy;cracker" and "Cin&shy;de&shy;rel&shy;la," Prince Dé&shy;si&shy;ré in "Sleep&shy;ing Beauty," as well as the Jes&shy;ter in "Swan Lake" and Bacchus in "Wal&shy;pur&shy;gis Night."',
                    about_3:
                            'As a guest solo&shy;ist, he per&shy;for&shy;med at the "Bal&shy;let Moscow" theater and was ho&shy;no&shy;red as a laureate at in&shy;ter&shy;na&shy;tio&shy;nal com&shy;pe&shy;ti&shy;tions.',
                    about_4:
                            'Glaz&shy;shney&shy;der worked with some of the greatest names in ballet, in&shy;clu&shy;ding V.V. Va&shy;si&shy;liev, M.L. Ro&shy;stro&shy;povich, D.A. Bryan&shy;tsev, L.I. Se&shy;men&shy;yako, An&shy;na Pli&shy;sets&shy;kaya, Na&shy;talya Le&shy;dov&shy;skaya, Mar&shy;ga&shy;ri&shy;ta Dro&shy;zdo&shy;va, and Ga&shy;li&shy;na Kro&shy;pi&shy;vina. His ca&shy;reer took him on tours through Ja&shy;pan, the USA, South Ame&shy;ri&shy;ca, Europe, and China, where he de&shy;lighted his audience with his art.',
                    about_5:
                            'From 2000 to 2004, he was the lea&shy;ding so&shy;lo&shy;ist at the Lviv Na&shy;tio&shy;nal Aca&shy;de&shy;mic Ope&shy;ra and Bal&shy;let Thea&shy;ter Kru&shy;she&shyl&shy;nytska and si&shy;mul&shy;ta&shy;neous&shy;ly en&shy;ga&shy;ged in the edu&shy;ca&shy;tion of young ta&shy;lents. He con&shy;ti&shy;nued his pe&shy;da&shy;go&shy;gi&shy;cal ca&shy;reer from 2004 to 2008 at the Na&shy;tio&shy;nal Aca&shy;de&shy;my of Arts in Lviv and from 2008 to 2022 at the Kyiv Cho&shy;reo&shy;gra&shy;phic Col&shy;lege "Kiya&shy;noch&shy;ka," where he pas&shy;sed on his ex&shy;ten&shy;sive ex&shy;pe&shy;rience and know&shy;led&shy;ge to the next ge&shy;ne&shy;ra&shy;tion of bal&shy;let dan&shy;cers, pre&shy;pa&shy;ring them to en&shy;ter hi&shy;gher edu&shy;ca&shy;tion in various coun&shy;tries around the world.',
                    performances: 'Some video excerpts from Andrey Glazshneyder\'s performances and teaching:'
                },
                anna: {
                    heading: 'Anna Bielova',
                    about_1:
                            'Anna Dmitrievna Bielova, born on No&shy;vem&shy;ber 10, 1991, in Uk&shy;raine, com&shy;ple&shy;ted her bal&shy;let edu&shy;ca&shy;tion at the pres&shy;ti&shy;gious cho&shy;reo&shy;gra&shy;phic school "Kiya&shy;noch&shy;ka," where she stu&shy;died from 2009 to 2013.',
                    about_2:
                            'After her graduation, Bie&shy;lo&shy;va went on tour with the Na&shy;tio&shy;nal Opera of Uk&shy;raine at their in&shy;vi&shy;ta&shy;tion. Her skills and de&shy;di&shy;ca&shy;tion led her in 2014 to the Kyiv Mo&shy;dern Bal&shy;let under the di&shy;rec&shy;tion of Radu Po&shy;kli&shy;ta&shy;ru, where she stayed until 2016 and fur&shy;ther de&shy;ve&shy;lo&shy;ped her skills in con&shy;tem&shy;po&shy;ra&shy;ry ballet.',
                    about_3:
                            'Her career then took her to the Bal&shy;let En&shy;sem&shy;ble of the In&shy;ter&shy;na&shy;tio&shy;nal Bal&shy;let Mos&shy;cow, with which she toured from 2016 to 2018. This ex&shy;pe&shy;rience ex&shy;pan&shy;ded her re&shy;per&shy;toi&shy;re and in&shy;ter&shy;na&shy;tio&shy;nal pre&shy;sence.',
                    about_4:
                            'From 2018 to 2020, Bielova was part of the St. Pe&shy;ters&shy;burg Bal&shy;let, Bal&shy;let on the Neva and Mos&shy;cow Clas&shy;si&shy;cal Bal&shy;let, where she honed her clas&shy;si&shy;cal bal&shy;let skills.',
                    about_5:
                            'From 2020 to 2021, she joined the In&shy;ter&shy;na&shy;tio&shy;nal Clas&shy;si&shy;cal Bal&shy;let Kyiv and the Ma&shy;gi&shy;cal Bal&shy;let in the USA. Her in&shy;ter&shy;na&shy;tio&shy;nal tours took Bie&shy;lo&shy;va through the USA, South Ame&shy;ri&shy;ca, Europe, Tai&shy;wan, Ma&shy;lay&shy;sia, Austra&shy;lia, and China.',
                    about_6:
                            'In addition to her stage career, Bie&shy;lova also de&shy;di&shy;cates herself to tea&shy;ching. From 2020 to 2022, she was a tea&shy;cher at the Dy&shy;na&shy;mo Ballet School in Kyiv, where she pas&shy;sed on her know&shy;ledge and ex&shy;pe&shy;rience to young dan&shy;cers.',
                    about_7:
                            'Her work as a cho&shy;reo&shy;gra&shy;pher, es&shy;pe&shy;cially in pre&shy;pa&shy;ring child&shy;ren and artists for in&shy;ter&shy;na&shy;tio&shy;nal com&shy;pe&shy;ti&shy;tions, has nur&shy;tured and in&shy;spi&shy;red nu&shy;me&shy;rous ta&shy;lents.',
                },
                impressions: 'Impressions',
                contact: {
                    heading: 'Contact',
                    leave_me_a_note: 'Reach out',
                },
            },
            footer: {
                imprint: 'Imprint',
                privacy_policy: 'Privacy Policy',
                copyright_notice: '© 2024 Andrey Glazshneyder & Anna Bielova – All rights reserved',
            },
            imprint: {
                heading: 'Imprint',
                responsible_for_content: 'Responsible for content',
                disclaimer: 'Disclaimer',
                content: {
                    heading: 'Content',
                    text: 'The author reserves the right not to be responsible for the topicality, correctness, completeness or quality of the information provided. Liability claims regarding damage caused by the use of any information provided, including any kind of information which is incomplete or incorrect, will therefore be rejected. All offers are not-binding and without obligation. Parts of the pages or the complete publication including all offers and information might be extended, changed or partly or completely deleted by the author without separate announcement.',
                },
                referrals_and_links: {
                    heading: 'Referrals and Links',
                    text: 'The author is not responsible for any contents linked or referred to from his pages – unless he has full knowledge of illegal contents and would be able to prevent the visitors of his site from viewing those pages. If any damage occurs by the use of information presented there, only the author of the respective pages might be liable, not the one who has linked to these pages. Furthermore the author is not liable for any postings or messages published by users of discussion boards, guestbooks or mailing lists provided on his page.',
                },
                copyright: {
                    heading: 'Copyright',
                    text: 'The author intended not to use any copyrighted material for the publication or, if not possible, to indicate the copyright of the respective object. The copyright for any material created by the author is reserved. Any duplication or use of objects such as images, diagrams, sounds or texts in other electronic or printed publications is not permitted without the author’s agreement.',
                },
            },
            privacy_policy: {
                heading: 'Privacy Policy',
                intro:
                        'With this privacy policy I would like to inform you about the nature, extent and purpose of the processing of personal data on my website. Personal data is any data that has a personal relationship with you, eg. name, address, e-mail address or user behaviour.',
                responsible_for_data_processing: 'Responsible for data processing',
                webhosting: {
                    heading: 'Webhosting',
                    provider_intro:
                            'I use an internet service provider to provide my online presence. My website is stored on the server of that internet service provider (hosting) and made available on the Internet. Here, the Internet service provider processes contact data, contract data, usage data, inventory data as well as meta and communication data on my behalf. Name and address of the Internet service provider:',
                    provider_privacy_policy: 'Its privacy policy can be viewed <a href="https://docs.github.com/en/github/site-policy/github-privacy-statement">here</a>.',
                    provider_outro:
                            'The internet service provider is located within the EU. The provider is certified under the Privacy Shield Agreement, which provides a guarantee to comply with European data protection law. Legal basis: The Internet service provider processes the aforementioned data on my behalf, Art. 28 GDPR. The data processing is based on my legitimate interest in an efficient and secure provision of my internet offer, Art. 6 para. 1 lit. f) GDPR.',
                },
                storage: {
                    heading: 'Storage duration/deletion',
                    text: 'I delete or block your personal data as soon as the purpose of the storage is achieved or has expired. Any further storage will only take place if this is assigned to me by national or European regulations. A suspension or deletion of the data takes place if the storage period prescribed in the respective regulations expires, unless I need your data for the fulfillment of a contract concluded between us or if this is necessary for the assertion, exercise or defense of legal claims.',
                },
                contact_options: {
                    heading: 'Information about the contact options I offer',
                    text: 'As far as you contact me via e-mail, social media, telephone, fax, mail, contact form or any other way and provide me with personal data such as your name, telephone number or e-mail address, or other information about yourself or your concern this data will be stored and processed to handle your request. Legal basis: If you submit your request in the context of contractual or pre-contractual relations with me, the legal basis for the processing of your data is Art. 6 (1) lit. b. GDPR. If your request does not fall into any of the above categories, my legitimate interest in the processing of your data is to answer your request properly and in your favour, Art. 6 para. 1 lit. f GDPR. Deletion: The personal data collected by me will be deleted, if it is no longer necessary. I check the requirement every 2 years. You can also revoke the data processing at any time.',
                },
                gdpr: {
                    heading: 'Your rights under the GDPR',
                    intro:
                            'According to the GDPR, you have the following rights, which you can assert with me at any time:',
                    rights: [
                        {
                            heading: 'The right to obtain information',
                            text: 'According to Art. 15 GDPR, you can request confirmation of whether and which personal data I process from you. In addition, you can request free of charge information about the processing purposes, the category of personal data, the categories of recipients to whom your data has been disclosed or the planned storage period, the right of rectification, deletion, limitation of processing or opposition, the existence of a right of appeal and the origin of the data, if it was not collected by me. You also have the right to know whether your personal data has been transmitted to a third country or to an international organisation. If so, you have the right to obtain information about the appropriate guarantees in connection with the transfer.',
                        },
                        {
                            heading: 'The right to demand correction',
                            text: 'Pursuant to Art. 16 GDPR, you may request to correct or complete the personal data relating to you and stored in my possession.',
                        },
                        {
                            heading: 'The right to demand deletion',
                            text: 'According to Art. 17 DSGVO you have the right to demand the deletion of your personal data stored by me, as far as I do not need it for the following purposes:',
                            sub_list: [
                                'to fulfill a legal obligation,',
                                'to assert, exercise or defend legal claims,',
                                'to exercise the right of free expression and information or',
                                'for the purposes of public interest referred to in Article 17 (3) (c) and (d) of the GDPR.',
                            ],
                        },
                        {
                            heading: 'The right to demand restriction',
                            text: 'According to Art. 18 GDPR you have the right to demand the restriction of the processing of your personal data, if',
                            sub_list: [
                                'The accuracy of the data is disputed by you, for a period of time that allows me to verify the accuracy of your personal information,',
                                'the processing of your data is unlawful, but you reject its deletion and instead demand the restriction of the use of the data,',
                                'I no longer need your personal information for processing purposes, but you need it to assert, exercise or defend your rights,',
                                'You have lodged an objection against the processing of your data in accordance with Art. 21 GDPR, but it is not yet certain whether the legitimate reasons that justified me despite your objection to further processing outweigh your rights.',
                            ],
                        },
                        {
                            heading: 'The right to demand disclosure',
                            text: 'If you have asserted the right of rectification, deletion or restriction of your personal data processed by me, I am obliged to inform all recipients to whom the personal data concerning you has been made available about the correction or deletion or the limitation of the processing of the data requested by you unless this proves impossible or involves disproportionate effort. You have the right to be informed by me about these recipients.',
                        },
                        {
                            heading: 'The right to demand data portability',
                            text: 'Pursuant to Art. 20 GDPR, you may request that I provide you with the personal data you have provided to me in a structured, standard and machine-readable format, or request that I send it to another person in charge.',
                        },
                        {
                            heading: 'The right of appeal',
                            text: 'According to Art. 77 GDPR you have the right to complain to a supervisory authority. For this you can contact the supervisory authority of your usual place of residence, your job or my residence.',
                        },
                    ],
                },
                withdrawl: {
                    heading: 'The right of withdrawal',
                    text: 'You have the right at any time to object to the processing of the personal data concerning you, which is based on a balance of interests (Article 6 (1) (f) GDPR), for reasons that arise from your particular situation. This is especially the case if the data processing is not required to fulfill a contract. If you exercise your right of objection, I ask you to explain the reasons. I will then no longer process your personal information, unless I can prove to you that compelling legitimate reasons for data processing outweigh your interests and rights.<br><br><b>Regardless of the foregoing, you have the right to object to the processing of your personal information for advertising and data analysis purposes.</b><br><br>Please direct your objection to my contact address given above.',
                },
                safety_measures: {
                    heading: 'Safety measures',
                    text: 'Incidentally, I take technical and organisational security measures according to the state of the art in order to comply with the provisions of data protection laws and to protect your data against accidental or intentional manipulation, partial or total loss, destruction or against unauthorised access by third parties.Actuality and change of this privacy policy.',
                },
                valid_until: {
                    title: 'Validity of and changes to this data protection declaration',
                    text: 'This privacy policy is currently valid and has been updated on August 2018. Due to changes in legal or regulatory requirements, it may be necessary to adapt this Privacy Policy.',
                },
                created_with: {
                    this_privacy_policy: 'This privacy policy has been created using',
                    here: 'The Privacy Statement Generator can be found here',
                    is_an_offer_of: 'is an offer of',
                    based_in: 'based in Berlin',
                },
            },
        },
    }
